chidemoon.com, www.chidemoon.com {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
  reverse_proxy chidemoon-wordpress:80
}

community.chidemoon.com {
  tls /certs/community.chidemoon.com/fullchain.pem /certs/community.chidemoon.com/privkey.pem
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
  reverse_proxy chidemoon-discourse:80
}
