<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"chidemoon-main","className":"chidemoon-content-page chidemoon-product-page","layout":{"type":"constrained","wideSize":"1280px"}} -->
<main id="chidemoon-main" class="wp-block-group chidemoon-content-page chidemoon-product-page">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:kalahamoon/product-comparison /-->
	<!-- wp:separator {"className":"is-style-wide"} -->
	<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
	<!-- /wp:separator -->
	<!-- wp:kalahamoon/product-catalog {"perPage":8,"columns":4,"showFilters":true,"showQuickView":false,"showFavorites":true,"showCompare":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
